---
language: python
dist: xenial
python:
  - "3.7"
  - "3.7-dev" # 3.7 development branch
  - "3.8"
  - "3.8-dev" # 3.8 development branch
# command to install dependencies
before_install:
  - sudo apt-get update
  - sudo apt-get install -y sox libsox-fmt-mp3
install:
  - python3 -m pip install .[dev]
  - python3 -m pip install -r requirements.txt
# command to run tests
script:
  # validate black formatting
  - python3 -m black --check .
  # validate imports are sorted
  - python3 -m isort --check-only .
  # check for undefined variables (F821 is an excellent error for a linter to catch)
  # add errors to ignore here as desired
  - python3 -m flake8 .
  # run test suite
  - python -m pytest -v --doctest-modules
