[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
editdistance = "*"
num2words = "*"
pytest = "*"
termcolor = "*"
tqdm = "*"
webvtt-py = "*"

[dev-packages]
pandas = "*"

[requires]
