beautifulsoup4
editdistance
num2words
pytest
regex
termcolor
tqdm
webvtt-py
xlrd
numpy>=1.17.0 
pandas
spacy
textacy
srsly<2.0.0,>=0.1.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
